.env
.env.local
.env.*.local
.venv

*.db
*.sqlite
*.sqlite3
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal
*.json

*.pyc
*.py[cod]
*$py.class
*.so
.Python
*.log
*.tmp
*.temp
*.rdb
*.pot
*.key
*.pem
*.swp
*.swo

.idea/
.vscode/
venv/
env/
__pycache__/
logs/
config/
metrq_dj/staticfiles/
metrq_dj/accounts/migrations
metrq_dj/core/migrations
metrq_dj/.env
metrq_dj/metrq_site/asgi.py
metrq_dj/metrq_site/settings.py
metrq_dj/metrq_site/urls.py
metrq_dj/metrq_site/wsgi.py
metrq_dj/core/choices.py
metrq_dj/core/llm_prompts.py

celerybeat-schedule

local_settings.py
development.py
production.py
