.env
.env.local
.env.*.local
.venv

*.db
*.sqlite
*.sqlite3
*.sqlite3-journal
*.json

*.pyc
*.log
*.tmp
*.temp
*.rdb
*.pot
*.key
*.pem
*.swp
*.swo

.idea/
.vscode/
venv/
env/
staticfiles/
__pycache__/
logs/

celerybeat-schedule

local_settings.py
development.py
production.py
